{% extends "contacts/base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-3">
    <h1 class="custom-h1">{% trans "Edit Contact" %}</h1>
    <form method="post">
        {% if form.errors and form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label for="id_fullname">{% trans "Full Name:" %}</label>
            <input type="text" id="id_fullname" name="fullname" class="form-control" value="{{ contact.fullname }}">
            {% if form.fullname.errors %}
                <p class="text-danger">{{ form.fullname.errors }}</p>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="id_address">{% trans "Address:" %}</label>
            <input type="text" id="id_address" name="address" class="form-control" value="{{ contact.address }}">
            {% if form.address.errors %}
                <p class="text-danger">{{ form.address.errors }}</p>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="id_phone">{% trans "Phone:" %}</label>
            <input type="text" id="id_phone" name="phone" class="form-control" value="{{ contact.phone }}">
            {% if form.phone.errors %}
                <p class="text-danger">{{ form.phone.errors }}</p>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="id_email">{% trans "Email:" %}</label>
            <input type="email" id="id_email" name="email" class="form-control" value="{{ contact.email }}">
        </div>
        <div class="form-group">
            <label for="id_birthday">{% trans "Birthday:" %}</label>
            <input type="date" id="id_birthday" name="birthday" class="form-control" value="{{ contact.birthday }}">
            {% if form.birthday.errors %}
                <p class="text-danger">{{ form.birthday.errors }}</p>
            {% endif %}
        </div>
        <div style="margin-top: 20px;">
            <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
            <a href="{% url 'contacts:my_contacts' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
        </div>
    </form>
</div>
{% endblock %}
