{% extends "contacts/base.html" %}

{% block content %}

<div class="container mt-3">
    <h1 class="custom-h1">My Contacts</h1>
    <div class="card-body d-flex justify-content-between align-items-center" style="margin-bottom: 20px;">
        <div>
            <a href="{% url 'contacts:add_contact' %}" class="btn btn-primary">Add Contact</a>
            <a href="{% url 'contacts:upcoming_birthdays' %}" class="btn btn-primary ml-2">Upcoming Birthdays</a>
        </div>
        <form class="row g-2 align-items-center search-block" method="GET" action="{% url 'contacts:search_results_contacts' %}">
            <div class="col-auto">
                <input class="form-control" type="search" name="q" placeholder="Search Contacts" aria-label="Search">
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
    </div>
    {% for contact in contacts %}
    <div class="card mb-3">
        <div class="card-header" style="font-weight: bold;">
            {{ forloop.counter }}. {{ contact.fullname }}
        </div>
        <div class="card-body">
            <p class="card-text">Address: {{ contact.address }}</p>
            <p class="card-text">Phone: {{ contact.phone }}</p>
            <p class="card-text">Email: {{ contact.email }}</p>
            <p class="card-text">Birthday: {{ contact.birthday }}</p>
        </div>
        <div class="card-body">
            <p class="ml-auto" style="margin-top: -20px; margin-bottom: 0px;">
                <a href="{% url 'contacts:edit_contact' contact.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'contacts:delete_contact' contact.id %}" class="btn btn-danger">Delete</a>
            </p>
        </div>

    </div>
    {% endfor %}

</div>
{% endblock %}
