{% extends 'Personal_Assistant_WEB/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<h2>{% trans 'Search Results Contacts' %}</h2>
{% if query %}
<p>{% trans 'Showing results for' %}: "{{ query }}"</p>
{% endif %}
{% if not contacts %}
<div class="alert alert-danger" role="alert">
    {% trans "We're sorry, but no results were found matching your search criteria. Please try again with different keywords or refine your search." %}
</div>
{% endif %}
{% for contact in contacts %}
<div class="card mb-3">
    <div class="card-header" style="font-weight: bold;">
        {{ forloop.counter }}. {{ contact.fullname }}
    </div>
    <div class="card-body">
        <p class="card-text">{% trans 'Address' %}: {{ contact.address }}</p>
        <p class="card-text">{% trans 'Phone' %}: {{ contact.phone }}</p>
        <p class="card-text">{% trans 'Email' %}: {{ contact.email }}</p>
        <p class="card-text">{% trans 'Birthday' %}: {{ contact.birthday }}</p>
    </div>
    <div class="card-body">
        <p class="ml-auto" style="margin-top: -20px; margin-bottom: 0px;">
            <a href="{% url 'contacts:edit_contact' contact.id %}" class="btn btn-primary">{% trans 'Edit' %}</a>
            <a href="{% url 'contacts:delete_contact' contact.id %}" class="btn btn-danger">{% trans 'Delete' %}</a>
        </p>
    </div>
</div>
{% endfor %}
{% endblock %}
