{% extends 'Personal_Assistant_WEB/base.html' %}
{% load i18n %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col">
        <h1 class="card-title h3 news-page-title">{% trans 'News and Statistics' %}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <!-- First Exchange Rate Card -->
        <div class="card mb-3">
            <div class="card-header">
                <h2 class="h5 card-title m-0">{% trans 'Exchange Rates:' %}</h2>
            </div>
            <div class="card-body">
                <p class="mb-0">{% trans 'Date:' %} {{ data.Date }}</p>
                <p>{% trans 'Bank:' %} {{ data.Bank }}</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th>{% trans 'Currency:' %}</th>
                        <th>{% trans 'Sale:' %}</th>
                        <th>{% trans 'Purchase:' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rate in data.Exchange_rate %}
                    <tr>
                        <td>{{ rate.currency }}</td>
                        <td>{{ rate.sale }}</td>
                        <td>{{ rate.purchase }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- WEATHER -->
        <div class="card mb-3">
            <div class="card-header">
                <h2 class="h5 card-title m-0">{% trans 'Time and Weather:' %}</h2>
            </div>
            <div class="card-body">
                <p id="current-date-time" class="mb-0"><span id="current-date">{{ data.Date }}</span> <span id="current-time"></span></p>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for weather_info in data.Weather %}
                        <tr>
                            <td class="align-middle" style="text-align: left; border: none;">{% trans weather_info.City %}, {% trans weather_info.Country %}</td>
                            <td style="border: none;"></td>
                            <td style="border: none;"></td>
                            <td class="align-middle" style="text-align: left; border: none; padding-left: 0px;">{% trans weather_info.Condition_text %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tbody>
                        {% for weather_info in data.Weather %}
                        <tr>
                            <td class="align-middle" style="text-align: left;">{{ weather_info.Temperature }}°C</td>
                            <td></td>
                            <td></td>
                            <td class="align-middle" style="text-align: left; padding-left: 0px;"><img src="{{ weather_info.Condition_icon }}" alt="{% trans 'Weather Icon' %}"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <thead>
                        <tr>
                            <td style="text-align: center; padding-right: 0px; padding-left: 0px">{% trans 'Wind' %}</td>
                            <td style="text-align: center; padding-right: 0px; padding-left: 0px">{% trans 'Humid' %}</td>
                            <td style="text-align: center; padding-right: 0px; padding-left: 0px">{% trans 'Pressure' %}</td>
                            <td style="text-align: center; padding-right: 0px; padding-left: 0px">{% trans 'UV' %}</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for weather_info in data.Weather %}
                        <tr>
                            <td class="align-middle" style="text-align: center;">{{ weather_info.Wind_speed }} km/h</td>
                            <td class="align-middle" style="text-align: center;">{{ weather_info.Humidity }}%</td>
                            <td class="align-middle" style="text-align: center;">{{ weather_info.Pressure }} mb</td>
                            <td class="align-middle" style="text-align: center;">{{ weather_info.UV }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tbody>
                        {% for forecast_info in data.Weather_Forecast %}
                        <tr>
                            <td class="align-middle" style="text-align: left;">{% trans forecast_info.Day_of_Week %}</td>
                            <td class="align-middle" style="text-align: left;">{{ forecast_info.Max_Temperature }}°C</td>
                            <td class="align-middle" style="text-align: left; padding-left: 10px;">{{ forecast_info.Min_Temperature }}°C</td>
                            <td class="align-middle" style="text-align: left; padding-left: 10px;"><img src="{{ forecast_info.Condition_icon }}" alt="{% trans 'Weather Icon' %}"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <h2 class="h5 card-title m-0">{% trans 'War Day:' %} {{ data.War_day }}</h2>
            </div>
            <div class="card-body">
                <h3 class="card-title h6">{% trans 'Occupants Loses:' %}</h3>
                <ul class="list-group list-group-flush">
                    {% for key, value in data.Occupants_loses.items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center ps-0 pe-0">
                        {{ key|title }}:
                        <span class="text-end" style="flex-shrink:0; min-width:20%;">{{ value }}</span>
                    </li>
                    {% endfor %}
                </ul>

                <h3 class="card-title h6 mt-4">{% trans 'Increase by Day:' %}</h3>
                <ul class="list-group list-group-flush">
                    {% for key, value in data.Increase_by_day.items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center ps-0 pe-0">
                        {{ key|title }}:
                        <span class="text-end" style="flex-shrink:0; min-width:20%;">{{ value }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        {% for news in data.News %}
        <div class="card mb-4">
            <div class="card-header">
                <h3 class="card-title h4 mb-0">
                    <a target="_blank" class="text-dark text-decoration-none" href="{{ news.link_to_source }}">{{ news.title }}</a>
                </h3>
            </div>
            <div class="card-body">
                <p class="text-secondary d-flex justify-content-between align-items-center">
                    <span>{% trans 'Source:' %} {{ news.source }}</span>
                    <span>{% trans 'Author:' %} {{ news.author }}</span>
                    <span>{% trans 'Published:' %} {{ news.publishedAt }}</span>
                </p>
                <p class="mb-0">{{ news.description }}</p>
            </div>
            <div class="card-footer">
                <a href="{{ news.link_to_source }}" class="card-link">{% trans 'Read More' %}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    function updateTime() {
    const currentDate = new Date();
    const dayOfWeek = currentDate.toLocaleDateString('en-US', { weekday: 'long' });
    const day = currentDate.getDate();
    const month = currentDate.getMonth();
    const year = currentDate.getFullYear();
    const hours = currentDate.getHours();
    const minutes = currentDate.getMinutes();
    const seconds = currentDate.getSeconds();

    // Array of month names
    const monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

    // Get the month name based on the numerical month value
    const monthName = monthNames[month];

    // Add leading zeros to the day if it's a single digit
    const formattedDay = day < 10 ? '0' + day : day;

    // Add leading zeros to the hours if it's a single digit
    const formattedHours = hours < 10 ? '0' + hours : ('00' + hours).slice(-2);

    // Add leading zeros to the minutes if it's a single digit
    const formattedMinutes = minutes < 10 ? '0' + minutes : minutes;

    // Add leading zeros to the seconds if it's a single digit
    const formattedSeconds = seconds < 10 ? '0' + seconds : seconds;

    const formattedDate = `${dayOfWeek}, ${monthName} ${formattedDay}, ${year}`;
    const formattedTime = `${formattedHours}:${formattedMinutes}:${formattedSeconds}`;

    document.getElementById('current-date').textContent = formattedDate;
    document.getElementById('current-time').textContent = formattedTime;
}

setInterval(updateTime, 1000); // Update time every second

</script>
{% endblock %}
