{% extends 'Personal_Assistant_WEB/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col">
        <h1 class="card-title h3 news-page-title">{% trans 'News and Statistics' %}</h1>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <!-- Exchange Rate Card -->
        <div class="card mb-3">
            <div class="card-header">
                <h2 class="h5 card-title m-0">{% trans 'Exchange Rates' %}</h2>
            </div>
            <div class="card-body ">
                <p class="mb-2">{% trans 'Date:' %} {{ data.Date }}</p>
                <img src="{% static 'images/bank.png' %}" style="width: 280px; height: 60px" alt="{% trans 'Bank Logo' %}">
                <table class="table table-striped align-text-center">
                    <thead>
                    <tr>
                        <th>{% trans 'Currency:' %}</th>
                        <th class="text-center">{% trans 'Sale:' %}</th>
                        <th class="text-center">{% trans 'Purchase:' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rate in data.Exchange_rate %}
                    <tr>
                        <td>{{ rate.currency }}</td>
                        <td class="text-center">{{ rate.sale }}</td>
                        <td class="text-center">{{ rate.purchase }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- WEATHER -->
        <div class="card mb-3">
            <div class="card-header">
                <h2 class="h5 card-title m-0">{% trans 'Time and Weather' %}</h2>
            </div>
            <div class="card-body">
                <p id="current-date-time" class="mb-0"><span id="current-date">{{ data.Date }}</span> <span
                        id="current-time"></span></p>
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for weather_info in data.Weather %}
                    <tr>
                        <td class="align-middle" style="text-align: left; border: none;">{% trans weather_info.City %},
                            {% trans weather_info.Country %}
                        </td>
                        <td style="border: none;"></td>
                        <td style="border: none;"></td>
                        <td class="align-middle" style="text-align: center; border: none;">{% trans weather_info.Condition_text %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tbody>
                    {% for weather_info in data.Weather %}
                    <tr>
                        <td class="align-middle" style="text-align: left;">{{ weather_info.Temperature }}°C</td>
                        <td></td>
                        <td></td>
                        <td class="align-middle" style="text-align: center;"><img
                                src="{{ weather_info.Condition_icon }}" alt="{% trans 'Weather Icon' %}"></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <thead>
                    <tr>
                        <td class="align-middle" style="text-align: center;">{% trans 'Wind' %}</td>
                        <td class="align-middle" style="text-align: center;">{% trans 'Humidity' %}</td>
                        <td class="align-middle" style="text-align: center;">{% trans 'Pressure' %}</td>
                        <td class="align-middle" style="text-align: center;">{% trans 'UV index' %}</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for weather_info in data.Weather %}
                    <tr>
                        <td class="align-middle" style="text-align: center;">{{ weather_info.Wind_speed }} km/h</td>
                        <td class="align-middle" style="text-align: center;">{{ weather_info.Humidity }}%</td>
                        <td class="align-middle" style="text-align: center;">{{ weather_info.Pressure }} mb</td>
                        <td class="align-middle" style="text-align: center;">{{ weather_info.UV }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <table class="table table-striped align-text-center">

                        {% for forecast_info in data.Weather_Forecast %}
                        <tr>
                            <td class="align-middle" style="text-align: left;">{% trans forecast_info.Day_of_Week %}
                            </td>
                            <td class="align-middle" style="text-align: center;">{{ forecast_info.Max_Temperature }}°C
                            </td>
                            <td class="align-middle" style="text-align: center;">{{ forecast_info.Min_Temperature }}°C
                            </td>
                            <td class="align-middle" style="text-align: center;"><img
                                    src="{{ forecast_info.Condition_icon }}" alt="{% trans 'Weather Icon' %}"></td>
                        </tr>
                        {% endfor %}
                    </table>
                </table>
            </div>
        </div>
        <!-- WAR DAY -->
        <div class="card mb-3">
            <div class="card-header">
                <h2 class="h5 card-title m-0 ">{% trans 'War Day:' %} {{ data.War_day }}</h2>
            </div>
            <div class="card-body table-striped">
                <h3 class="card-title h5">{% trans 'Occupants Loses:' %}</h3>
                <table class="table table-striped">
                    <tbody>
                    {% for key, value in data.Occupants_loses.items %}
                    <tr>
                        <td class="align-middle" style="font-size: 14px;">{% trans key|title %}</td>
                        <td class="text-end" style="min-width: 20%;">{{ value }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- Increase by Day -->
                <h3 class="card-title h5 mt-4">{% trans 'Increase by Day:' %}</h3>
                <table class="table table-striped">
                    <tbody>
                    {% for key, value in data.Increase_by_day.items %}
                    <tr>
                        <td class="align-middle" style="font-size: 14px;">{{ key|title }}</td>
                        <td class="text-end" style="min-width: 20%;">{{ value }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- NEWS -->
    <div class="col-8 ">
        {% for news in data.News %}
        <div class="card mb-3">
            <div class="card-header">
                <h3 class="card-title h4 mb-0">
                    <a target="_blank" class="text-dark text-decoration-none" href="{{ news.link_to_source }}">{{ news.title }}</a>
                </h3>
            </div>
            <div class="card-body">
                <p class="text-secondary d-flex justify-content-between align-items-center">
                    <span>{% trans 'Source:' %} {{ news.source }}</span>
                    <span>{% trans 'Author:' %} {{ news.author }}</span>
                    <span>{% trans 'Published:' %} {{ news.publishedAt }}</span>
                </p>
                <p class="mb-0">{{ news.description }}</p>
            </div>
            <div class="card-footer">
                <a href="{{ news.link_to_source }}" target="_blank" class="card-link">{% trans 'Read More' %}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    function updateTime() {
    const currentDate = new Date();
    const dayOfWeek = currentDate.toLocaleDateString('en-US', { weekday: 'long' });
    const day = currentDate.getDate();
    const month = currentDate.getMonth();
    const year = currentDate.getFullYear();
    const hours = currentDate.getHours();
    const minutes = currentDate.getMinutes();
    const seconds = currentDate.getSeconds();

    // Array of month names
    const monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

    // Get the month name based on the numerical month value
    const monthName = monthNames[month];

    // Add leading zeros to the day if it's a single digit
    const formattedDay = day < 10 ? '0' + day : day;

    // Add leading zeros to the hours if it's a single digit
    const formattedHours = hours < 10 ? '0' + hours : ('00' + hours).slice(-2);

    // Add leading zeros to the minutes if it's a single digit
    const formattedMinutes = minutes < 10 ? '0' + minutes : minutes;

    // Add leading zeros to the seconds if it's a single digit
    const formattedSeconds = seconds < 10 ? '0' + seconds : seconds;

    const formattedDate = `${dayOfWeek}, ${monthName} ${formattedDay}, ${year}`;
    const formattedTime = `${formattedHours}:${formattedMinutes}:${formattedSeconds}`;

    document.getElementById('current-date').textContent = formattedDate;
    document.getElementById('current-time').textContent = formattedTime;
}

setInterval(updateTime, 1000); // Update time every second

</script>
{% endblock %}
