{% extends 'Personal_Assistant_WEB/base.html' %}
{% load i18n %}

{% block content %}
<div class="container mt-3">
    <h2>{% trans 'Login User' %}</h2>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <span {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</span>
        {% endfor %}
    </div>
    {% endif %}

    {% if form.errors and form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{form.non_field_errors}}
    </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">{% trans 'Username' %}
                {{ form.username }}
            </label>
            <span>{{form.errors.username}}</span>
        </div>

        <div class="mb-3">
            <label class="form-label">{% trans 'Password' %}
                {{ form.password }}
            </label>
            <span>{{form.errors.password}}</span>
        </div>

        <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
        <button type="reset" class="btn btn-secondary">{% trans 'Reset' %}</button>

        <div class="container mt-3">
            <a href="{% url 'users:password_reset' %}" class="text-center" style="margin-left: -10px;"><i>{% trans 'Forgot Password?' %}</i></a>
        </div>
    </form>
</div>
{% endblock %}
