{% autoescape off %}
<body>
<p>Hi {{ user.username }},</p>
<p>Someone, perhaps you, has made a password reset request for your account '{{ user.username }}'. Please follow this
    link to set a new password:</p>
<p>
    <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">
        {{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
    </a>
</p>
<p>If you did not make this request, you can safely ignore this email.</p>
<p>Thanks,</p>
<p>The Team</p>
{% endautoescape %}
