{% extends 'Personal_Assistant_WEB/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<!-- Registration 5 - Bootstrap Brain Component -->
<section class="p-3 p-md-4 p-xl-5">
    <div class="container">
        <div class="card border-light-subtle shadow-sm">
            <div class="row g-0">
                <div class="col-12 col-md-6 text-bg-primary">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <div class="col-10 col-xl-8 py-3">
                            <hr class="border-primary mb-4">
                            <h2 class="h1 mb-4">{% trans 'We make digital products that drive you to stand out.' %}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-5">
                                    <h2 class="h3">{% trans 'Registration' %}</h2>
                                    <h3 class="fs-6 fw-normal text-secondary m-0">{% trans 'Enter your details to register' %}</h3>
                                </div>
                            </div>
                        </div>
                        {% if form.errors and form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{form.non_field_errors}}
                        </div>
                        {% endif %}
                        <form action="{% url 'users:signup' %}" method="post">
                            {% csrf_token %}
                            <div class="row gy-3 gy-md-4 overflow-hidden">
                                <div class="col-12">
                                    <label for="username" class="form-label"> {% trans 'Username' %} <span class="text-danger">{{form.errors.username}}</span></label>
                                    <input type="username" class="form-control" name="username" id="username" placeholder="{% trans 'Enter the username' %}" required>
                                </div>
                                <div class="col-12">
                                    <label for="email" class="form-label">{% trans 'Email' %} <span class="text-danger">{{form.errors.username}}</span></label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="{% trans 'Enter the email' %}" required>
                                </div>
                                <div class="col-12">
                                    <label for="password1" class="form-label">{% trans 'Password' %} <span class="text-danger">{{ form.errors.password1}}</span></label>
                                    <input type="password" class="form-control" name="password1" id="password1" placeholder="{% trans 'Enter the password' %}" required>
                                </div>
                                <div class="col-12">
                                    <label for="password2" class="form-label">{% trans 'Password Confirmation' %}<span class="text-danger">{{ form.errors.password2 }}</span></label>
                                    <input type="password" class="form-control" name="password2" id="password2" placeholder="{% trans 'Enter the password again' %}" required>
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" name="iAgree" id="iAgree" required>
                                        <label class="form-check-label text-secondary" for="iAgree">
                                            {% trans 'I agree to the' %} <a href="#" class="link-primary text-decoration-none" data-bs-toggle="modal" data-bs-target="#termsModal">{% trans 'terms and conditions' %}</a>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button type="submit" class="btn bsb-btn-xl btn-primary">{% trans 'Submit' %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-12">
                                <hr class="mt-5 mb-4 border-secondary-subtle">
                                <p class="m-0 text-secondary text-center">{% trans 'Already have an account?' %} <a
                                        href="{% url 'users:signin' %}" class="link-primary text-decoration-none">{% trans 'Sign in' %}
                                    </a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="termsModalLabel"><b>{% trans 'Terms and Conditions' %}</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <b>1.</b> Introduction<br>
                <b>1.1.</b> Welcome to “Personal Assistant”! These Terms and Conditions govern your use of our website,
                including all associated web pages (collectively referred to as the "Website"). By accessing or using
                the Website, you agree to comply with and be bound by these Terms and Conditions.<br>
                <br>
                <b>2.</b> Use of the Website<br>
                <b>2.1.</b> You must be at least 12 years old to use the Website. By using the Website, you represent
                and warrant that you are at least 12 years of age.<br>
                <b>2.2.</b> You agree to provide accurate and complete information when using the Website and to update
                such information as necessary to keep it accurate and complete.<br>
                <b>2.3.</b> You are responsible for maintaining the confidentiality of any login information associated
                with your account and for restricting access to your computer or mobile device. You agree to accept
                responsibility for all activities that occur under your account.<br>
                <br>
                <b>3.</b> Intellectual Property<br>
                <b>3.1.</b> The content, features, and functionality of the Website, including but not limited to text,
                graphics, logos, images, audio clips, and software, are the property of “Project Group 9” or its
                licensors and are protected by copyright, trademark, and other intellectual property laws.<br>
                <b>3.2.</b> You may not modify, reproduce, distribute, create derivative works, publicly display, or
                otherwise use any content from the Website without the prior written consent of “Project Group 9”.<br>
                <br>
                <b>4.</b> User Content<br>
                <b>4.1.</b> You retain ownership of any content you submit, post, or display on or through the Website
                ("User Content").<br>
                <b>4.2.</b> By submitting User Content, you grant [Your Company Name] a non-exclusive, royalty-free,
                perpetual, irrevocable, and fully sublicensable right to use, reproduce, modify, adapt, publish,
                translate, create derivative works from, distribute, and display such User Content throughout the world
                in any media.<br>
                <br>
                <b>5.</b> Limitation of Liability<br>
                <b>5.1.</b> “Project Group 9” shall not be liable for any direct, indirect, incidental, special,
                consequential, or punitive damages, or any loss of profits or revenues, whether incurred directly or
                indirectly, arising out of your access to or use of the Website or any content or services available on
                or through the Website.<br>
                <br>
                <b>6.</b> Changes to Terms and Conditions<br>
                <b>6.1.</b> “Project Group 9” reserves the right to modify or replace these Terms and Conditions at any
                time. Any changes will be effective immediately upon posting the revised Terms and Conditions on the
                Website. Your continued use of the Website after any such changes constitutes your acceptance of the new
                Terms and Conditions.<br>
                <br>
                <b>7.</b> Governing Law<br>
                <b>7.1.</b> These Terms and Conditions shall be governed by and construed in accordance with the laws of
                [Your Jurisdiction], without regard to its conflict of law provisions.<br>
                <br>
                <b>8.</b> Contact Us<br>
                <b>8.1.</b> If you have any questions about these Terms and Conditions, please contact us at
                project_group_9@gmail.com”<br>
                <br>
                By using the Website, you acknowledge that you have read, understood, and agree to be bound by these
                Terms and Conditions. If you do not agree to these Terms and Conditions, you may not access or use the
                Website.

            </div>
        </div>
    </div>
</div>

{% endblock %}
