{% extends 'Personal_Assistant_WEB/base.html' %}

{% block title %}{{page_title}}{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col">
        <h1 class="card-title h3">{{page_title}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <p class="h4 text-center mt-5 mb-5">Are you sure you want to delete {{type}}<br>{{name}}?</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <form method="post" action="{{form_action}}">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
                <a href="{{back_list}}" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}