{% extends "Personal_Assistant_WEB/base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-3">
    <h1 class="custom-h1">{% trans "Delete Note" %}</h1>
    <div class="card mb-3">
        <div class="card-header">
            {% trans "Confirm Deletion" %}
        </div>
        <div class="card-body">
            <p class="card-text">{% trans "Are you sure you want to delete the note" %} "{{ note.text }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
                <a href="{% url 'notes:my_notes' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
